section {
  display: flex;
  flex-direction: column;
  margin: 2rem auto;
  gap: 6rem;
  max-width: 1280px;
}

h2 {
  display: block;
  width: fit-content;
  text-align: center;
  font-size: 4rem;
  margin: 0 auto;
  border-bottom: 8px solid var(--gray-900);
}
