<header class="cabecalho">
  <div class="cabecalho__content">
    <figure class="cabecalho__cabecalho__content___foto-perfil-content">
      <img alt="Foto de Perfil" src="./assets/profile.jpg">
      <figcaption>
        <h1>Olá, me chamo Igor, seja Bem-Vindo!</h1>
      </figcaption>
    </figure>
    <nav>
      <button *ngFor="let option of menuOptions" (click)="changeArticle(option.component)" [ngClass]="{'active': option.active}" mat-button>
        {{option.label}}
      </button>
    </nav>
  </div>
</header>
