app-post:first-child .post-container .post-line {
  top: 50%;
  height: calc(50% + 2rem)!important;
}

app-post:last-child .post-container .post-line {
  top: -2rem;
  height: calc(50% + 2rem)!important;
}
