footer {
  clear: both;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 -6px 0 rgba(0,0,0,1);
  margin-top: 0.5rem;
  padding: 2rem 0;
}

.footer-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  font-size: 1.2rem;
  max-width: 1280px;
}

.social-media {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
}

.social-media a {
  text-decoration: none;
  color: var(--gray-900);
}
