header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 2rem 3rem;
  box-shadow: 0 6px 0 rgba(0,0,0,1);
  margin-bottom: 0.5rem;
  z-index: 1;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 1.4rem;
  max-width: 1280px;
}

.header-content nav {
  display: flex;
  align-items: center;
  gap: 2rem;
}

nav a,
.outside-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;

  text-decoration: none;
  color: var(--gray-900);
  padding: 0 2rem;
  letter-spacing: 0.1rem;
  font-weight: 300;
  transition: .2s;
  text-transform: uppercase;
}

nav a:hover,
.outside-link:hover {
  font-weight: bold;
}

nav a.active {
  font-weight: bolder;
}

.outside-link {
  position: relative;
  height: 2rem;
}

.outside-link i {
  position: absolute;
  top: 0;
  right: 0.5rem;
  font-size: 1rem;
}

@media (max-width: 1080px) {
  header{
    flex-direction: row-reverse;
  }

  .outside-link {
    display: none;
  }
}

@media (max-width: 950px) {
  .header-content {
    flex-direction: column-reverse;
    gap: 2rem;
  }

  .header-content nav {
    gap: 0.5rem;
  }

  .outside-link {
    display: none;
  }
}
