img#profile-img {
  display: block;
  width: 100%;
}

@media (max-width: 950px) {
  img#profile-img {
    margin: 0 auto;
    width: 80%;
  }
}

app-post a {
  color: var(--blue-600);
  font-weight: bold;
}
