<section class="introducao">
  <div class="redes-sociais">
    <ul>
      <li *ngFor="let redeSocial of redesSociais">
        <a [href]="redeSocial.link" mat-icon-button target="_blank">
          <i [ngClass]="redeSocial.icon"></i>
        </a>
      </li>
    </ul>
  </div>
  <div class="d-flex direction-column align-center">
    <p>Sou um Desenvolvedor Full-Stack, com especialização em <span class="nobr">Front-End</span>.<br/>Sempre fui curioso, adoro desafios e inovações.</p>
  </div>
</section>
