<div class="flex flex-col items-center gap-4 text-center my-25">
  <div class="avatar">
    <div class="w-24 rounded">
      <img
        ngSrc="https://github.com/igordrangel.png"
        alt="Igor D. Rangel"
        width="96"
        height="96"
        priority
      />
    </div>
  </div>

  <h1 class="font-semibold text-5xl">
    Transformando sonho em realidade com código e criatividade.
  </h1>
  <p class="max-w-2xl text-lg text-neutral-400">
    Sou um <strong class="text-neutral-200">Desenvolvedor Full-Stack</strong>, e sou dedicado a
    transformar ideias em aplicações web inovadoras. Fique a vontade para explorar meus projetos,
    onde minha especialidade está em desenvolvimento
    <strong class="text-neutral-200"> Angular </strong> e
    <strong class="text-neutral-200">Node.js</strong> para
    <strong class="text-neutral-200">aplicações WEB</strong>.
  </p>

  <nav>
    <a
      routerLink="/projetos"
      appButton
      btnVariant="neutral"
      btnSize="sm"
      class="bg-neutral-300 hover:bg-neutral-400 text-neutral-900"
    >
      Meus Projetos
    </a>
    <a
      href="https://www.linkedin.com/in/igordrangel"
      target="_blank"
      appButton
      btnVariant="ghost"
      btnSize="sm"
    >
      LinkedIn
      <i class="fa-solid fa-arrow-up-long opacity-50 rotate-45 text-[0.6rem]"></i>
    </a>
  </nav>
</div>
