.content-introducao {box-sizing: border-box;width: 100%;}
.content-introducao figure {align-items: center;display: flex;}
.content-introducao figure img {border-radius: 50%;height: 60px;margin: 20px 0;width: 60px;}
.content-introducao figure figcaption h1 {color: #FFFFFF;margin: 0 0 0 15px;}
.content-introducao figure figcaption h1:after {content: '\1F601';}
.content-introducao p {color: rgba(255, 255, 255, .5);font-size: 1.2em;font-weight: normal;line-height: 1.4em;text-align: left;}
.content-introducao p strong {color: rgba(255, 255, 255, .7);font-weight: bold;}
.content-introducao hr {border-style: dashed;color: #FFFFFF;margin: 20px 0;width: 60%;}
.content-introducao h2 {color: #FFFFFF;line-height: 1.2em;}
.content-introducao ul li {color: #FFFFFF;font-size: 1.1em;line-height: 1.5em;}
.content-introducao ul li ul {margin-left: 15px;}
.content-introducao ul li:before {content: '\2714';margin-right: 5px;}
.content-introducao a {color: #FFFFFF;}
@media screen and (max-width: 960px) {
.content-introducao figure {flex-direction: column;margin-bottom: 20px;}
.content-introducao figure figcaption h1 {font-size: 1.5em;text-align: center;}
.content-introducao hr {width: 100%;}
}
