<section class="content-introducao">
	<figure>
		<img alt="Foto de Igor D. Rangel" src="/assets/profile.jpg"/>
		<figcaption>
			<h1>Olá, me chamo Igor, seja Bem-Vindo!</h1>
		</figcaption>
	</figure>
  <p>Atualmente estou cursando <strong>Bacharelado em Engenharia de Software</strong> e encontro-me empregado como <strong>Desenvolvedor Front-End Angular</strong> na <strong><a href="https://www.linkedin.com/company/metaoficial/mycompany" target="_blank">Meta Digital. Simple. Human. Digital Transformation</a></strong>.</p>
	<hr>
	<h2>Possuo experiência com as seguintes Tecnologias:</h2>
	<ul>
		<li>PHP 7
			<ul>
				<li>Symfony</li>
				<li>Doctrine</li>
			</ul>
		</li>
		<li>Node.js
			<ul>
				<li>Express</li>
				<li>TypeORM</li>
			</ul>
		</li>
		<li>Angular 8 ao 10</li>
		<li>Electron</li>
		<li>Ionic 3 e 4</li>
	</ul>
</section>
